body{
    background-color: rgb(45, 107, 173);
    font: normal 15pt Arial;
}

header{
    color: aliceblue;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 15px;
    width: 500px;
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    
}

#res{
    text-align: center;
}

#foto{
    width: 150px;
    border-radius: 50%;
    height: 200px;
}

@media (max-width: 500px){
    section{
        width: 350px ;
    }
}