body{
    background-color: rgb(45, 107, 173);
    font: normal 15pt Arial;
}

header{
    color: aliceblue;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 15px;
    width: 500px;
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

#borda{
    border: 1px solid black ;
    display: inline-block;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 550px) {
    section{
        width: 350px;
    }
}

